










h1, h2, h3 , h4, h5, h6 {
    font-family: 'Gloria Hallelujah', cursive;
  }
  p {
    font-family: 'Jura', sans-serif;
  }
  
  :root {
    --prim-colour: ;
    --second-colour: ;
    --tert-colour: ;
  }

.Hero-banner{
    height: calc(100vh - 25px);
    background-image: url(../images/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hero {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }

